/* Estilos globales */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 60%; 
    margin: 0 auto;
    padding: 20px;
}

